:root {
    --button-wiggle-amount: 10px;
}

#clickMe {
    --button-wiggle-x: calc(var(--button-offset-x, 0) * var(--button-wiggle-amount));
    --button-wiggle-y: calc(var(--button-offset-y, 0) * var(--button-wiggle-amount));

    position: absolute;
    top: calc(50% + var(--button-wiggle-y));
    left: calc(50% + var(--button-wiggle-x));
    transform: translate(-50%, -50%);

    font-size: clamp(1.5rem, 5vw, 3rem);

    min-width: 50ch;
    padding: 1ch 1ch;
    height: 8ch;
}

#clickMeText {
    transform: translate(
        calc(-1 * var(--button-wiggle-x)),
        calc(-1 * var(--button-wiggle-y))
    );
}

#popup {
    font-size: 4rem;
    visibility: hidden;
}
.customCursor {
    cursor: url("peach-emoji.png"), auto;
}